<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Membership Page</title>
</head>

<body>
  <div class="heading">
    <h2>歡迎光臨，這是會員頁</h2>
  </div>
  <div class="content">
    <h3 style="text-align: center;">
      {{user}}，歡迎登入系統
      <p>
        <a href="/logout">登出系統</a>
      </p>
    </h3>

  </div>

</body>

</html>